.git
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
db.sqlite3
*.pot
*.pyc
*.pyo
migrations/

# Environment variables
.env

# Virtual environment
venv/
.env/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.swp
